.app {
  background-color: #374045;
}
.app_box {
}

.app_link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 0.7rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  max-width: 10rem;
  text-align: center;
}
